body {
    background-image: url(bin/mainbackground.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}

.contact {
    width: 80%;
    background-image: url(bin/background.jpg);
    margin-left: auto;
    margin-right: auto;
    padding: 2vh;
    max-width: 50%;
    margin-top: 2vh;
}

h1, h2, p, .centered{
    text-align: center;
}

hr {
    max-width: 20%;
}

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow: hidden; 
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    display: block; 
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 100%;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #045faa;
    color: white;
  }