body {
    background-image: url(bin/mainbackground.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}

.tv {
  margin-bottom: 0px;
  max-width: 500px;
}

.mywork {
    width: 80%;
    background-image: url(bin/background.jpg);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 1000px;
    margin-top: 2vh;
  }

h1, p, h2{
    text-align: center;
}

.calculator {
  min-width: 20%;
}

.calc {
  max-width: 50%;
}

.description {
  max-width: 200px;
}

.tvpeli {
  margin-bottom: -10px;
}

.tvgame {
  font-size: 9px;
  margin-bottom: 20px;
}

p {
  font-size: 12px;
}

.nocenter {
  text-align: left;
}

.download {
  margin-bottom: -10px;
}

.text  {
  font-size: 20px;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.work {
    max-width: 300px;
}

a {
    color: aliceblue;
}
  
a:visited {
    color: aliceblue;
}
  
a:hover {
    color: gray;
}
  
a:active {
    color: gray;
}

  /* Add a black background color to the top navigation */
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  overflow: hidden; 
}

/* Style the links inside the navigation bar */
.topnav a {
  text-align: left; 
  display: block; 
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 100%;
}

#subclass {
font-size: 70%;
text-align: center; 
}

.subactive {
background-color: #034479;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #045faa;
  color: white;
}

.divider {
  margin-top: 10vh;
}

