body {
    background-image: url(mainbackground.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    color: aliceblue;
}

.mywork {
    width: 80%;
    background-image: url(background.jpg);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 1000px;
  }

h1, p, h2{
    text-align: center;
}

.tvpeli {
  margin-bottom: -10px;
}

.tvgame {
  font-size: 9px;
  margin-bottom: 20px;
}

p {
  font-size: 12px;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    max-width: 300px;
}

a {
    color: aliceblue;
  }
  
  a:visited {
    color: aliceblue;
  }
  
  a:hover {
    color: gray;
  }
  
  a:active {
    color: gray;
  }

  button {
    border: none;
    color: rgb(16, 45, 139);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }