body {
    background-image: url(bin/mainbackground.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}

.student {
    font-style: italic;
}

.portfolio {
    width: 80%;
    background-image: url(bin/background.jpg);
    margin-left: auto;
    margin-right: auto;
    padding: 2vh;
    margin-top: 2vh;
    max-width: 50%;
  }

h1, p, .centered{
    text-align: center;
}

.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    max-width: 500px;
}

a {
    color: aliceblue;
}
  
a:visited {
    color: aliceblue;
}
  
a:hover {
    color: gray;
}
  
a:active {
    color: gray;
}

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow: hidden; 
  }

  /* Style the links inside the navigation bar */
  .topnav a {
    text-align: left; 
    display: block; 
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 100%;
  }

  #subclass {
  font-size: 70%;
  text-align: center; 
}

.subactive {
  background-color: #034479;
}
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #045faa;
    color: white;
  }